extends layout.pug

block content

    h2 #{title}

    table
        thead
            tr
            th Title
            th Author
            th Genre
            th Year
        tbody
            each book in books
                tr
                td
                    a(href="book_detail.html")= book.title
                td= book.author
                td= book.genre
                td= book.year